:root {
    --primary-color: linear-gradient(#EA4F32, #F06B52, #F45033, #E80F5D);
    --secondary-color: #553555;
    --terciary-color: #070707;
    --quadriary-color: #ADF1D2;
    --font: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    background-color: var(--secondary-color);
    max-width: 100%;
    height: 100vh;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--primary-color);
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    row-gap: 10px;
}

#continue>button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#titles{
    position: relative;
}

#login-title{
    font-family: var(--font);
    color: white;
    font-weight: 700;
    font-size: 36px;
    margin-top: 50px;
}

#login-subtitle{
    font-family: var(--font);
    color: white;
    font-size: 15px;
    left: 50px;
}

#signup-button{
    padding: 21px 82px;
}

#signup-button>button{
    border: 2px solid white;
    border-radius: 70px;
    background-color: transparent;
    color: white;
    width: 223px;
    height: 61px;
    padding: 14px 28px;
    cursor: pointer;
}

#login-button>button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#optional-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#optional-signup>p1{
    color: #FFABAB;
    font: var(--font);
}

#optional-signup>#icons{
    padding: 20px;
    color: white;
    width: 100%;
    align-content: center;
    height: 50px;
}

#tutorial-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tutorial-1>p2{
    width: 282px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFABAB;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#container-logos{
    display: flex;
}

#container-logos>i{
    color: white;
    margin-top: 40px;
}

#tutorial-1>p{
    font-family: 'Inter';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    width: 270px;
}

#tutorial-1>i{
    color: #FFFFFF;
    margin-bottom: 50px;
}

#logo-small{
    width: 70.64px;
    height: 47px;
    margin-top: 40px;
    margin-left: 75%;
}

#skip-tutorial{
    margin-bottom: 50px;
}

#skip-tutorial>button{
    background: none;
	color: #FFABAB;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    font: var(--font);
}

#choose-option{
    display: flex;
    flex-direction: row;
}

#questionaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-box{
    padding: 20px;
}

#second-box>p1{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

#traveller{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
    padding: 20px;
}

#traveller>p2{
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#local{
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-style: solid;
    padding: 20px;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
}

#next>button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    font: var(--font);
}

#sign-up{
    width: 70%;
}
#sign-up>input{
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
}

#sign-up>input:focus{
    background: none;
}

#sign-up>::placeholder{
    color: #FFABAB;
    text-align: center;
}
